/* General styles */
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  line-height: 1.6;
  background-color: seashell;
  color: black;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo{
  font-size: 20px;
  font-weight:700;
  letter-spacing:0.2px;
  text-decoration:none;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff9800;
}

.section {
  padding: 4  0px 20px;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  position: relative;
}
.project-card a{
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
}

.zpattern {
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}
.zpattern:hover{
  z-index: 10;
  transform: scale(1.1);
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #ff9800;
}

footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: #fff;
  margin-bottom:0vw;
}
.toHover:hover{
  
  color: royalblue;
  background-color: #ccc;
  border-radius: 45%;
  transition: 0.2s;

}

